<ion-grid>
    <ion-row>
        <ion-col>
            <div style="text-align:center" class="container-img">
                <!--<div class="historia"></div>-->
                <img [src]="usuario.fotodeperfil" alt="" class="fotoperfil" class="outline">
            </div>
        </ion-col>
        <ion-col style="text-align:center;">
           <p ><font size="4"> <strong>{{usuario.posts}}</strong></font></p>
           <p><font size="3">Posts</font></p>
        </ion-col>
        <ion-col style="text-align:center;">
            <p ><strong><font size="4">{{usuario.followers}}</font></strong></p>
           <p ><font size="3">Followers</font></p>
        </ion-col>
        <ion-col style="text-align:center;">
            <p><strong><font size="4">{{usuario.following}}</font></strong></p>
           <p><font size="3">Following</font></p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <p><font size="4"><strong>{{usuario.nombre}}</strong></font></p>
        </ion-col>
        <ion-col>

        </ion-col>
        <ion-col>
            
        </ion-col>
    </ion-row>  
    <ion-row>
        <ion-col>
            {{usuario.descripcion}}
        </ion-col>   
    </ion-row>
    <ion-row>
        <ion-button expand="block" fill="outline" color="dark" (click) ="toggleEditar() ">Editar Perfil</ion-button>
    </ion-row>
    <ion-row *ngIf="editando">
        <ion-input [(ngModel)]="bio" class="borde-input"></ion-input>
    </ion-row>
    <ion-row *ngIf="editando">
        <ion-button expand="block" fill="outline" color="dark" (click)="guardarNuevaBio()">Guardar</ion-button>
        <ion-button expand="block" fill="outline" color="dark" (click)="toggleEditar()">Cancelar</ion-button>
    </ion-row>

</ion-grid>

<app-publicaciones></app-publicaciones>

