<ion-content>
    <app-cinta></app-cinta>
    <ion-grid>
        <ion-row>
            <ion-col>
                <app-historias></app-historias>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid >
        <ion-row *ngFor="let post of posts; let postId = index;" >
            <ion-col size-md="8" offset-md="2" >
                <ion-card>
                    <ion-card-header>
                        <ion-grid>
                            <ion-row>
                                <ion-col size="10">
                                    <div class="usuario-card-header">    
                                        <ion-avatar>
                                            <img src={{post.fotodeperfil}} width="50px">
                                        </ion-avatar>
                                        <ion-label class="label">{{post.usuario}}</ion-label>
                                    </div>
                                </ion-col>

                                <ion-col size="2">   
                                    <ion-button (click)="mostrarPopover($event, postId)" fill="translucent" id="trigger-popup-{{post.id}}" class="trigger"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></ion-button>
                                    <!--<ion-popover trigger="trigger-popup-{{post.id}}">
                                        <ng-template>
                                            <app-popover></app-popover>
                                        </ng-template>
                                    </ion-popover>-->
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-header>

                    <ion-card-content align="center">
                        <img src="{{post.imagen}}" class="test">
                        <div class="opciones">
                            <ion-col size="1">
                                <ion-icon size="small" name="heart-outline"></ion-icon>
                            </ion-col>
                            <ion-col size="1">
                                <ion-icon size="small" name="chatbubble-outline"></ion-icon>
                            </ion-col>
                            <ion-col size="1">
                                <ion-icon size="small"name="paper-plane-outline"></ion-icon>
                            </ion-col>
                            <ion-col size="1" offset="8">
                                <ion-icon size="small" name="bookmark-outline"></ion-icon>
                            </ion-col>
                        </div>
                        <p class="caption"><strong>{{post.likes}} likes</strong></p>
                        <p class="caption"><strong>{{post.usuario}}</strong> {{post.caption}}</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    
</ion-content>
        
  
