.usuario{
    color: gray;
    font-size: 12px;
    padding: 20px 10px;
}

.caption{
    color: black;
    font-size: 16px;
    text-align: left;
}

.card{
    border: solid 1px gray;
    margin-bottom: 10px;
}

.usuario-card-header{
    display:flex;
}

.label{
    align-self: center;
    margin-left: 10px;
}

.opciones {
    display: flex;   
}

ion-avatar{
    align-self: center;
    width: 34px;
    height: 34px;
    
}

.test{
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    object-position: center;
    aspect-ratio: 1/1;
}
.test2{
    max-height: 50vw;
    max-width: 500px;
    position: center;
}
